version: '3.8'

services:
  frontend:
    build: ./frontend/admin-one-vue-tailwind-master
    ports:
      - "5173:5173"
    depends_on:
      - server
    networks:
      - app-network

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    depends_on:
      mariadb: #Altered
        condition: service_healthy #Altered
    networks:
      - app-network

  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: teste123
      MYSQL_DATABASE: iscte_spot
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    networks:
      - app-network
    healthcheck: #Altered
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-u", "root", "-pteste123"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  app-network:

volumes:
  db_data:
